@media screen and (max-device-width: 600px) {
			body, html {
			}
			.real .container{
				}
		}


/************************************/

* {
  padding: 0;
  margin: 0;
  font-family: Verdana;
	font-size: 100%;
}

a {
  text-decoration: none;
}

.separator {
      height: 2px;
      width: 6%;
      box-shadow: none;
      border: none;
      margin-right: 47%;
      margin-left: 47%;
      background-color: #3C7AB3;
    }

@font-face {
  font-family: "Polarise"; src: url('../polices/Polarise.ttf');
}

@font-face {
  font-family: "Anthemie"; src: url('../polices/Anthemie.ttf');
}

.logo {
 display: inline-table;
 font-family: "Polarise",arial, sans-serif;
 font-size:25px ;
 text-align:center;
 font-weight:bold;
 color: white;
}

.header {
  width: 100%;
  height: 650px;
  background-size: cover;
  display: inline-block;
}

#nav {
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
  position: fixed;
  top: 0;
  transition: 1s;
  display: block;
}

.navbar {
  background: RGBA(171,183,179,0.5);
  transition: 1s;
}

.element {
  margin: 1%;
  display: flex;
	justify-content: center;
	flex-wrap: nowrap;
}

.element .selt {
  display: inline-table;
}

.selt {
  width: 125px;
  text-align: center;
  justify-content: center;
  margin-left:0%;
  padding : 0.75em;
  border-radius: 5px;
  transition: 1s;
  color: white;
  border: 0Px solid;
}


.selt:hover {
  background-color: #3C7AB3;
  color:white;
  transition: .5s;
}

.smenu .slist:hover {
  background-color: #3C7AB3;
  color:white;
  transition: .5s;
}

.smenu .slist {
	color:white;
}

.form-inline {
  margin: 2%;
}

#smenul:hover {
	text-align: center;
	padding: 0.75em 0 0 0;
	transition: 0.1s;
}

#smenul {
	transition: 0s;
}

#smenul:hover {
	background-color: inherit;
	cursor: default;
}

#connect {
  border: 1Px solid;
  font-weight: bold;
}

.logow {
  display: flex;
	justify-content: center;
  margin: 1%;
}

.accueil {
  font-family: "Anthemie",arial;
  font-size: 7em;
  display: block;
  text-align: center;
  margin-top: 19%;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}

.phrase {
  padding: 20px;
  margin: 20px 13%;
}

  .boutton {
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    font:bold 15px Helvetica;
    background-color: #23B2E5;
    color:white;
    border-radius:1em;
    box-shadow:3px 3px 5px black;
    cursor: pointer;
    border: 0px;
  }

  #boutton-d {
      margin-left: 15em;
  }

  .manda {
    display: block;
    margin-left: 34%;
    margin-right: auto;
    margin-top: 20%;
    position: fixed;  }

/*pied de page*/

    .footer {
      background-color: RGBA(88,168,158,0.5);
      text-align: center;
      padding-left: 20%;
      padding-right: 20%;
      padding-bottom: 10px;
      padding-top: 10px;
    }

    .icon {
			display: inline-block;
			margin: 4%;
			height: 5%;
			width: 5%;
		}

		.copyright-text {
			margin: 10px;
		}



    /*contact*/
    .contact {
      display: flex;
      justify-content: center;

    }

    .container{
			display: block;
      margin-left: auto;
      margin-right: auto;
		}

    .contact legend {
			font-size: 1.125em;
		}

		  .contact .form-group {
			margin-left: 0;
		}

		.contact .btn-custom {
			font-size: 1.125em;
		}

	   .contact .margfoot {
		    display: flex;
        justify-content: center;
        width: 500px;
        margin: 2%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
		}

    @keyframes outika {
      100% {
        stroke-dashoffset: 0;
      }
    }

    #outik1 {
      stroke-dasharray: 100;
      stroke-dashoffset: 100;
      stroke-width: 8;
      animation: outika .8s linear forwards .3s;
    }


    #outik2 {
      stroke-dasharray: 300;
      stroke-dashoffset: 300;
      stroke-width: 8;
      animation: outika 1.1s linear forwards 1.1s;
    }


    #outik3 {
      stroke-dasharray: 100;
      stroke-dashoffset: 100;
      stroke-width: 9;
      animation: outika 1.3s linear forwards 2s;
    }


    #outik4 {
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
      stroke-width: 9;
      animation: outika 1.1s linear forwards 2.5s;
    }


    #k1 {
      stroke-dasharray: 100;
      stroke-dashoffset: 100;
      stroke-width: 9;
      animation: outika 1.1s linear forwards 3.4s;
    }

    #k2 {
      stroke-dasharray: 100;
      stroke-dashoffset: 100;
      stroke-width: 9;
      animation: outika 1.1s linear forwards 3.8s;
    }


    #mo1 {
      stroke-dasharray: 300;
      stroke-dashoffset: 300;
      stroke-width: 9;
      animation: outika 1.1s linear forwards 4s;
    }

    #mo2 {
      stroke-dasharray: 300;
      stroke-dashoffset: 300;
      stroke-width: 9;
      animation: outika 1.1s linear forwards 4.8s;
    }


    #mo3 {
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
      stroke-width: 9;
      animation: outika 1.1s linear forwards 5s;
    }

    #point1 {
      stroke-dasharray: 50;
      stroke-dashoffset: 50;
      stroke-width: 9;
      animation: outika .2s linear forwards 5.4s;
    }

		/*****************new slider*************/
		.real {
		width: 100%;
		height: 100%;
		padding-bottom: 150px;
		padding-top: 60px;
	}

	.real h2 {
		text-align: center;
		padding-top: 20px;
	}

	.real .container{
			display: block;
			width: 75%;
			height: 37em;
			margin: auto;
			padding: 0;
			overflow-y: hidden;
			background-size: cover;
			margin-top: 3%;
		}

		.real .slide-img{
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			height: 100%;
			width: 100%;
		}

		.real .inbanner {
			display: block;
			padding-top: 7em;
			}

		.inbanner h3{
			color: white;
			margin-bottom: 5%;
			font-size: 3em;
			text-shadow:3px 3px 5px black;
		}

		.real #one { background-image: url("images/cover3.jpg"); background-size: cover;}
		.real #two { background-image: url("images/cover2.jpg"); background-size: cover;}
		.real #three { background-image: url("images/cover4.jpg"); background-size: cover;}
		.real #four { background-image: url("images/cover5.jpg"); background-size: cover;}

		.real .zap{
			top: 0;
			width: 10%;
			height: 100%;
			cursor: pointer;
			background: rgba(88,88,88,.2);
		}

		.real #prev { left: 0; float: left;}
		.real #nxt { right: 0; float: right;}
